html {
    overflow-x: hidden;
}

* {
    margin: 0;
    padding: 0;
}

.popup {
    display: flex;
    justify-content: center;
}

.popup-container {
    display: block;
    box-sizing: border-box;
    padding: 50px 30px;

    width: 390px;
    height: 590px;
    position: fixed;
    background-color: #ffffff;
    flex-wrap: wrap;
    z-index: 3;
    justify-content: center;
    margin-top: 240px;


}

.feedback {
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    color: #0f0d0e;
    text-align: center;
    margin-bottom: 20px;
}



.feedback:after {
    content: "";

    position: absolute;
    top: 14%;
    left: 50%;
    transform: translateX(-50%);
    width: 66px;

    height: 3px;
    opacity: 0.4;
    background: #b59f5b;
}

.select-label {
    color: #0f0d0e;
    font-weight: normal;
    font-size: 13px;
    margin: auto;
}

.select {
    display: inline-block;
    box-sizing: border-box;
    width: 330px;
    height: 50px;
    -webkit-appearance: none;
    padding-left: 20px;
    padding-right: 15px;
    margin-top: 10px;
    margin-bottom: 20px;
    border: none;
    background-color: #f9f9f9;
    background-image: url("../svg/form-arrows.svg");
    background-repeat: no-repeat;
    background-position: right 5px center;
    background-size: contain;
    font-size: 13px;
}




.form-radio {
    margin-bottom: 10px;
}


.radio-text::before {
    content: "";
    display: inline-block;
    vertical-align: middle;

    margin-right: 8px;

    width: 20px;
    height: 20px;

    background-image: url("../svg/form-empty-circle.svg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 20px;
}

.radio-group {
    display:inline-block;
    font-size:15px;
}

.radio-group:nth-of-type(n+2) {
    margin-left:15px;
}

.radio:checked {
    outline: 3px solid #b59f5b;
    outline-offset: 5px;
}
.radio:checked ~ .checkbox-text::before {
    font-size: 13px;
    font-weight: normal;
    color: #0f0d0e;
    margin: auto;
    background-image: url("../svg/form-circle.svg");
}

.radio {
display: none;
}




.field-label  {
    color: #0f0d0e;
    font-weight: normal;
    font-size: 13px;
    margin: auto;
}
.textarea {
    min-width: 330px;
    max-width: 330px;
    min-height: 130px;
    max-height: 130px;
}
.welcome {
    margin: 0;
    padding: 0;
}
.welcome {
    background-image: url("../images/banner-bg.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    position: relative;
    display: flex;
}
.container {
    margin: 0 auto;
}
.container {
    max-width: 1200px;
    width: 1660px;
    z-index: 1;
}
.welcome::after {
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #000000;
    opacity: 0.6;
}
.header {
    display: flex;
    padding-top: 25px;
    align-items: center;
}
.header-logo {
    width: 180px;
    height: 43px;
}
.header-menu {
    margin-left: auto;
}
.logo-nav {
    display: flex;
}

@font-face {
    font-family: Open Sans;
    src: url("../fonts/OpenSans-Regular.woff");
    font-style: normal;
    font-weight: normal;
}

.menu-link {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    line-height: normal;
    font-weight: 400;
}
.menu-link:not(:last-child) {
    margin-right: 34px;
}

@font-face {
    font-family: Open Sans;
    src: url("../fonts/OpenSans-Bold.woff");
    font-weight: bold;
    font-style: normal;
}
.welcome-title {
    display: flex;
    text-transform: uppercase;
    align-items: center;
    font-weight: bold;
    font-size: 45px;
    text-align: center;
    padding-top: 195px;
    padding-bottom: 147px;
    max-width: 720px;
    margin: 0 auto;
}
body {
    font-family: Open Sans, Arial, serif;
    color: #ffffff;
}
.main-content {
    display: flex;
    flex-direction: row;
    margin: 64px auto;
    width: 1170px;
}

.cards {
    display: flex;
    flex-wrap: nowrap;
    height: 380px;
    width: 100%;
}
.trendy__name {
    text-align: center;
    margin-bottom: 45px;
    margin-top: 59px;
    font-weight: bold;
    font-size: 20px;
    color: #0f0d0e;
    text-transform: uppercase;
}
.trendy__name:after {
    content: "";

    position: absolute;
    top: 67%;
    left: 50%;
    transform: translateX(-50%);
    width: 66px;

    height: 3px;
    opacity: 0.4;
    background: #b59f5b;
}
.card {
    display: flex;
    height: 318px;
    position: relative;
    width: 25%;
}
.card:not(:last-child) {
    margin-right: 8px;
}

.garden {
    background-image: url("../images/trend1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 25%;
}

.card::after {
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #000000;
    opacity: 0.6;
}

.mountains {
    background-image: url("../images/trend2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 25%;
}
.cheese {
    background-image: url("../images/trend3.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 25%;
}

.limons {
    background-image: url("../images/trend4.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 25%;
}

.card__info {
    position: absolute;
    bottom: 20px;
    left: 20px;
    right: 20px;
    box-sizing: border-box;
    border: #7e7340 3px solid;
    padding: 39px 44px 32px 33px;
    text-transform: uppercase;
    z-index: 2;
}
.card-tag {
    text-decoration: none;
    color: #b59f5b;
    font-size: 14px;
    font-weight: bold;
    margin-right: 10px;
}
.description {
    font-size: 20px;
    font-weight: bold;
    color: #eeeeee;
}
.themes {
    display: flex;
    flex-direction: column;
    max-width: 778px;
    margin-right: 120px;
}

.topic {
    display: flex;
}
.topic:not(:last-child) {
    margin-bottom: 58px;
}
main {
    margin: 0;
    font-family: , sans-serif;
    font-size: 16px;
    color: #222222;
}
.article1 {
    width: 397px;
    height: 293px;
}
.topic-preview {
    box-sizing: border-box;
    width: 380px;
}
.topic-info {
    box-sizing: border-box;
    width: 397px;
    padding-left: 30px;
}

.topic-name {
    font-size: 20px;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
    color: black;
}
.teg {
    color: #b59f5b;
    text-decoration: none;
    font-weight: bold;
    padding-right: 19px;
}
.tegs {
    margin-bottom: 15px;
}

span {
    font-weight: bold;
    margin-left: 13px;
    font-size: 12px;
}
.time {
    margin-top: 37px;
    margin-bottom: 31px;
}
.topic-date {
    font-size: 12px;
    color: #888888;
}

.sidebar {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position: relative;
}
.latest-posts {
    display: flex;
    flex-direction: column;
    width: 270px;
    margin-bottom: 60px;
}

.post {
    display: flex;
    margin-top: 23px;
}
.post-preview {
    flex-shrink: 0;
    box-sizing: border-box;
    width: 70px;
}
.post-img {
    width: 100%;
}
.post-info {
    box-sizing: border-box;
    padding-left: 20px;
    line-height: 16px;
}
.post-name {
    font-size: 14px;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
    color: black;
}
.post-date {
    font-size: 12px;
    opacity: 0.54;
    padding-right: 100px;
    padding-top: 0px;
}
.posts {
    margin-bottom: 46px;
    font-size: 14px;
    text-align: center;
}
.posts:after {
    content: "";

    position: absolute;
    top: 25px;
    left: 50%;
    transform: translateX(-50%);
    width: 66px;

    height: 3px;
    opacity: 0.4;
    background: #b59f5b;
}
.search {
    margin-top: 60px;
}
.searching {
    position: relative;
    width: 272px;
    margin: 0 auto;
}
.search-field {
    box-sizing: border-box;
    border: 0px;
    width: 223px;
    padding: 18px 155px 18px 19px;
    margin-bottom: 63px;

    font-size: 13px;
    height: 48px;

    background-color: #f4f7f6;
}
.visually-hidden {
    width: 1px;
    height: 1px;
    clip: rect(1px, 1px, 1px, 1px);
    position: absolute;
}

.search-button {
    position: absolute;
    height: 48px;
    width: 48px;
    border: 0px;
    background-image: url("../svg/search.svg");
    background-repeat: no-repeat;
    background-size: 20px;
    background-position: center center;
    background-color: #b59f5b;
}
.mailing {
    margin-bottom: 40px;
    font-size: 14px;
    text-align: center;
    text-transform: uppercase;
}
.mailing:after {
    content: "";
    position: absolute;
    width: 66px;
    top: 33%;
    left: 50%;
    transform: translateX(-50%);

    height: 3px;
    opacity: 0.4;
    background: #b59f5b;
}

.field {
    box-sizing: border-box;
    border: 0px;
    width: 272px;
    padding: 18px 100px 18px 19px;

    font-size: 13px;
    height: 48px;

    background-color: #f4f7f6;

    margin-bottom: 17px;
}
.button {
    border: 0px;
    width: 272px;
    height: 48px;
    background-color: #b59f5b;
    color: #ffffff;
    font-size: 14px;
    text-transform: uppercase;
    margin-bottom: 60px;
}
.tags {
    width: 272px;
    margin-bottom: 60px;
}
.tag {
    box-sizing: border-box;
    width: 100%;
    border: 3px solid #eeeeee;
    display: inline;
    padding: 7px 12px;
    margin-right: 5px;
    line-height: 46px;
}

.tag-name {
    font-size: 12px;
    text-transform: uppercase;
    text-decoration: none;
    color: black;
    font-weight: bold;
}
.name {
    margin-bottom: 40px;
    font-size: 14px;
    text-align: center;
    text-transform: uppercase;
}
.name:after {
    content: "";
    position: absolute;
    width: 66px;
    top: 42%;
    transform: translateX(-70%);

    height: 3px;
    opacity: 0.4;
    background: #b59f5b;
}
.topics {
    width: 272px;
}

.topics-name {
    margin-bottom: 45px;
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
}
.theme {
    box-sizing: border-box;
    width: 100%;
    border-bottom: 1px solid #eeeeee;
    margin-bottom: 30px;
    padding-bottom: 12px;
}
.theme-name {
    font-size: 12px;
    text-transform: uppercase;
    text-decoration: none;
    color: black;
    font-weight: bold;
}
.number {
    font-size: 12px;
    color: #b59f5b;
    margin-left: 5px;
    margin-bottom: 4px;
}
.topics-name:after {
    content: "";
    position: absolute;
    width: 66px;
    top: 53%;
    transform: translateX(-70%);

    height: 3px;
    opacity: 0.4;
    background: #b59f5b;
}

.our-products {
    position: relative;
    margin-bottom: 66px;
}

.name-products {
    text-align: center;
    margin-bottom: 45px;
    font-weight: bold;
    font-size: 20px;
    color: #0f0d0e;
    text-transform: uppercase;
}
.name-products:after {
    content: "";


    position: absolute;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    width: 66px;

    height: 3px;
    opacity: 0.4;
    background: #b59f5b;
}
.products {
    display: flex;
    flex-wrap: nowrap;
    margin: 64px auto;
    justify-content: center;


}
.product {
    width: 346px;
    height: 270px;
    display: flex;
    position: relative;
}

.product__imgbox {
    max-width: 90%;
    margin-right: auto;
    margin-left: auto;
    display: block;
}

.product__body {
    box-sizing: border-box;
    border: #d3c59d solid 3px;
    position: absolute;
    height: 260px;
    top: 170px;
    right: 0;
    bottom: 0;
    left: 0;
    flex-grow: 1;
    padding-left: 20x;

    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}


.product:nth-child(2n + 2) {
        margin-right: 64px;
        margin-left: 64px;
}

.product__title {
    font-size: 20px;
    font-weight: bold;
    color: #0f0d0e;
    text-transform: uppercase;
    padding-top: 56px;
    padding-left: 20px;

}

.product__description {
    font-weight: normal;
    font-size: 15px;
    color: black;
    position: relative;
    padding-top: 10px;
    padding-right: 10px;
    padding-left: 20px;
}
.product-link {
    font-size: 15px;
    font-weight: normal;
    color: #b59f5b;
    text-decoration: none;
    cursor: pointer;

}
.product__prices {
    padding-top: 30px;

}
.product__price {
    color: #0f0d0e;
    font-weight: bold;
    display: flex;

}
.product__price-old {
    font-size: 14px;
    text-decoration: line-through;

}

.product__price-value {
    font-size: 20px;
    flex-wrap: wrap;
}





.product__button {
    display: flex;
    align-items: flex-end;
    position: absolute;
    right: 20px;
    top: 190px;

}
.to__shop {
    width: 140px;
    height: 50px;
    color: #eeeeee;
    border: none;
    text-transform: uppercase;
    background-color: #b59f5b;
    cursor: pointer;
    font-weight: bold;
    font-size: 14px;
}



.footer-links {
    display: flex;
    margin: 146px auto 0;
    justify-content: center;
    width: 1170px;
    height: 85px;
    background-color: #f4f7f6;
}

.footer-nav {
    justify-content: center;
    display: flex;
}

.link {
    display: flex;
    width: 21px;
    height: 25px;
    text-align: center;
    padding: 30px;
}
.copyright {
    display: flex;
    justify-content: center;
    margin-top: 34px;
    margin-bottom: 34px;
}
.copyright-link {
    font-size: 12px;
    color: #999999;
    text-decoration: none;
}
